{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>bondlog</title>
    <!-- ファビコン -->
    <link rel="icon" href="{% static 'assets/img/favicon/favi_32.ico' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
  	<header>
  		<div class="header-logo">
        <img src="{% static 'assets/img/logo.png' %}" style="width: 100%;">
      </div>
  		<div class="header-navi">
			  <h1><a href="/">bondlog</a></h1>
        <p style="color: #fff; margin: 0 0 0 0;">Memolize everything</p>
  		</div>
  	</header>