		<!-- profile部 -->
		<div class="profile">
			<!-- twitter(profile) -->
			<div>
				<p style="font-size: 18px; font-weight: 700;">profile</p>

				<div style="border: 2px solid #000; height: 300px;">
					twitter box
				</div>
				
			</div>
			<!-- soundcloud -->
			<div style="border: 2px solid #000; height: 300px;">
					soundcloud box
			</div>
		</div>

			<!-- sidebar部 -->
		<div class="sidebar" style="border: 1px solid #000; display: none;">
			<div class="tweet-date" style="width: 100px; border: 1px solid #000;">
			</div>
		</div>
	</div><!-- side -->
</div><!-- content-all -->